<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<style>
		body{
			background: linear-gradient(to right, rgb(80, 180, 250,0.1), rgb(66, 190, 255,0.8));
		}
	</style>
</head>
<body>
	<center>
		<div style="position: relative; width: 1270px; height: 800px;">
			<img src="/static/images/lbscek,png.png" width="1270" height="800px">
			<div style="position: absolute; top: 0; left: 0; width: 100%; text-align: center;">
				<h1 style="color: black; font-size: 2em; font-weight: normal; margin-top: 20px; font-family: 'Helvetica Neue', sans-serif;">LBS COLLEGE OF ENGINEERING KASARAGOD</h1>
			</div>
		</div>
	</center>
	
	
	
</body>
</html>
